.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  text-transform: uppercase;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
}