.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 24px;
}

.title {
  text-transform: uppercase;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
}